@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #a1a1a1;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    min-height: 95%;
}

.content {
    margin-top: 50px;
    padding: 20px;
    background: white;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 3em;
    display: table;
}

#map{
    height: 400px;
    width: 70%;
    float: left;
}

#directions-panel {
    background-color: #FFEE77;
    margin-left: 1%;
    width: 27%;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
    padding: 10px 1%;
}

p, td, tr, input {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table.nogrid tr, table.nogrid td, table.nogrid th {
    border: 0px;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

.nice th {
    background: #5960b0;
    color: #ffffff;
}

.nice tr:nth-child(odd) {
    background: #ffffff;
}

.nice tr:nth-child(even) {
    background: #dddddd;
}

a {
    color: #5960b0;
}

a:hover {
    color: #000000;
    transition: 0.6s;
}

a.top-button {
    position: absolute;
    top: 60px;
    width: 100px;
    background: #000000;
    padding: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a.logout {
    right: 20px;
}

a.archive {
    right: 150px;
}

a.driverstat {
    right: 270px;
}

a.top-button:hover {
    background: #5960b0;
    transition: 0.6s;
}

a.finishtour {
    background: #000000;
    padding: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}

a.finishtour:hover {
    background: #60af59;
    transition: 0.6s;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 2em;
    clear: both;
}

input.small {
    width: 50px;
}

img.symbol {
    width: 25px;
    height: auto;
}

.button {
    text-decoration: none;
    color: initial;
    background-color: #5960B0;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2px;
}

:hover.button{
    background-color: #000000;
    color: #ffffff;
    transition: 0.6s;
}


#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    position: relative;
    border-width: 2px;
    text-align: left;
    padding-top: 0;
    line-height: 30px;
}
