<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Statistik</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="stylesheets/default.css" th:src="@{../stylesheets/default.css}" />
</head>
<script src="stylesheets/script.js"></script>
<body>
<div id="wrapper">
    <div class="content">
        <h1>Logistics Backend</h1>
        <!-- works like that: takes the list of all parcels, then compares with the id parameter in the url -->
        <div th:each="driver : ${getDriverList}">
            <div th:if="${driver.driverId == param.driverId[0]}">
                <h2>Driver Statistik für <span th:text="${driver.driverName}"></span></h2>
                <table class="nice" id="parcelStats">
                    <thead>
                    <tr>
                        <th onclick="sortTable('parcelStats', 0)">attempted</th>
                        <th onclick="sortTable('parcelStats', 1)">delivered</th>
                    </tr>
                    </thead>
                    <tbody>
                        <td th:text="${attemptedParcelCount}"></td>
                        <td th:text="${deliveredParcelCount}"></td>
                    </tbody>
                </table>
            </div>
        </div>
        <a class="logout" th:href="@{/logout}">Logout</a>
        <a th:href="@{/logistics}">Back</a>
    </div>
    <footer>
        <span>ESE-Team8 (c)2017</span>
    </footer>
</div>
</body>
</html>