<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Logistician!</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="stylesheets/default.css" th:src="@{../stylesheets/default.css}" />
        <script src="stylesheets/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="content">
                <h1>Backend Logistik</h1>
                <h2>Statistiken für Fahrer</h2>
                <table class="nice" id="driverList">
                    <thead>
                    <tr>
                        <th onclick="sortTable('driverList', 0)">Fahrer-ID</th>
                        <th onclick="sortTable('driverList', 1)">Fahrer</th>
                        <th onclick="sortTable('driverList', 1)"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="driverListModel : ${getDriverList}">
                        <td th:text="${driverListModel.driverId}"></td>
                        <td th:text="${driverListModel.driverName}"></td>
                        <td>
                            <a class="button" th:href="@{/driverstats(driverId=${driverListModel.driverId})}">stat</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="top-button logout" th:href="@{/logout}">Logout</a>
                <a class="button" th:href="@{/logistics}">Back</a>
            </div>
            <footer>
                <span>ESE-Team8 (c)2017</span>
            </footer>
        </div>
    </body>
</html>
