<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Driver!</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="stylesheets/default.css" th:src="@{../stylesheets/default.css}" />
    <META HTTP-EQUIV="refresh" CONTENT="15"/>
    <script src="stylesheets/script.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="content">
            <h1 th:text="${loggedInUser}"></h1>
            <div th:if="${!deliveriesForDriver.empty}">
                <p>Hier sind alle zugeordneten Lieferungen.</p>
                <table class="nice" id="driverOverview">
                    <thead>
                    <tr>
                        <th onclick="sortTable('driverOverview', 0)">Position</th>
                        <th onclick="sortTable('driverOverview', 1)">Hinweis</th>
                        <th onclick="sortTable('driverOverview', 2)">Kommentar</th>
                        <th onclick="sortTable('driverOverview', 3)">Annahmefenster</th>
                        <th onclick="sortTable('driverOverview', 4)">Empfänger</th>
                        <th onclick="sortTable('driverOverview', 5)">Adresse</th>
                        <th onclick="sortTable('driverOverview', 6)">PLZ</th>
                        <th onclick="sortTable('driverOverview', 7)">Ort</th>
                        <th onclick="sortTable('driverOverview', 8)">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="del : ${deliveriesForDriver}">
                        <!-- styling over the status -->
                        <tr th:style="${del.status == attempted} ? 'background: #bc0536'"
                            th:styleappend="${del.status == delivered} ? 'background: #0f8202'">
                            <form  th:action="@{/driver/delivery}" th:method="post" th:object="${delivery}" id="deliveryOrder">
                                <td><input class="small" type="number" th:value="${del.sequence}" name="sequence" onchange="this.form.submit()" /></td>
                                <td style="white-space: nowrap;">
                                    <div style="width: 30px; float: left;" th:if="${del.dangerous}">
                                        <img class="symbol" src="../media/gefahr.jpg" />
                                    </div>
                                    <div style="width: 30px; float: right;" th:if="${del.fragile}">
                                        <img class="symbol" src="../media/fragil.jpg" />
                                    </div>
                                </td>
                                <td th:value="${del.comment}"	th:text="${del.comment}"></td>
                                <td th:value="${del.zeitfenster}" 	th:text="${del.zeitfenster}"></td>
                                <td th:value="${del.recipient}" 	th:text="${del.recipient}">...</td>
                                <td th:value="${del.address}" 	th:text="${del.address}">...</td>
                                <td th:value="${del.plz}" 		th:text="${del.plz}">...</td>
                                <td th:value="${del.city}" 	th:text="${del.city}">...</td>
                                <td>
                                     <!--because every delivery contains only one parcel, we can find a delivery with the parcel id-->
                                    <input th:value="${del.parcelId}" name="parcelId" class="form-control" type="hidden"/>
                                    <select name="status" onchange="this.form.submit()">
                                         <!--each package for a driver is scheduled-->
                                        <option selected="selected" disabled="disabled">scheduled</option>
                                         <!--the driver changes in either delivered or attempted-->
                                        <th:block th:each="stat : ${possibleParcelStatusDriver}">
                                            <option th:text="${stat}" th:selected="${del.status == stat}"></option>
                                        </th:block>
                                    </select>
                                </td>
                            </form>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div th:if="${deliveriesForDriver.empty}">
                <p>Aktuell sind keine Lieferungen zugeordnet für Sie.</p>
            </div>
            <a class="logout" th:href="@{/logout}">Logout</a>
        </div>
        <a class="finishtour" th:href="@{/driver/finishTour}">Tour abschliessen</a>
        <footer>
            <span>ESE-Team8 (c)2017</span>
        </footer>
    </div>
</body>
</html>
