<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logistics Webtool</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="stylesheets/default.css" th:src="@{../stylesheets/default.css}" />
    <script>
        document.cookie = "0";
    </script>
</head>
<body>
    <div id="wrapper" style="width: 400px">
        <div class="content">
            <h1>Willkommen!</h1>
            <div th:if="${param.error}">
                Ungültiger Nutzername oder Passwort.
            </div>
            <div th:if="${param.logout}">
                Sie wurden ausgeloggt.
            </div>
            <form th:action="@{/home}" method="post">
                <table class="nogrid">
                    <tr><td><label>Nutzername:</label></td><td><input type="text" name="username"/></td></tr>
                    <tr><td><label>Passwort:</label></td><td><input type="password" name="password"/></td></tr>
                </table>
                <div><input class="button" type="submit" value="Login"/></div>
            </form>
        </div>
        <footer>
            <span>ESE-Team8 (c)2017</span>
        </footer>
    </div>
</body>
</html>
