<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Logistician!</title>
	<style>
		table {
			border-collapse: collapse;
		}

		td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h1>Backend Logistik</h1>
	<h2>Existierende Bestellungen</h2>
	<table>
		<thead>
			<tr>
				<td>Bestell ID</td>
				<td>Produkt</td>
				<td>Preis</td>
				<td>Menge</td>
				<td>Bestelldatum</td>
				<td>Kunden ID</td>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="order : ${allOrders}">
				<tr>
					<td th:text="${order.id}">...</td>
					<td th:text="${order.product}">...</td>
					<td th:text="${order.price}">...</td>
					<td th:text="${order.quantity}">...</td>
					<td th:text="${#dates.format(order.purchaseOrderDate, 'yyyy/MM/dd')}"></td>
					<td th:text="${order.customerId}">...</td>
				</tr>
			</th:block>
		</tbody>
	</table>

	<h2>Neue Bestellung erfassen</h2>
	<form action="#" th:action="@{/logistics}" th:object="${order}" method="post">
		<p>Produkt: <input type="text" th:field="*{product}" required="required"/></p>
		<p>Preis in CHF: <input type="number" min="0.00" step="0.05" th:field="*{price}" required="required"/></p>
		<p>Menge: <input type="number" min="1" value="1" th:field="*{quantity}" required="required"/></p>
		<p>Bestelldatum: <input type="text" th:field="*{purchaseOrderDate}" required="required" placeholder="YYYY/MM/DD" pattern="[0-9]{4}/(0[1-9]|1[012])/(0[1-9]|1[0-9]|2[0-9]|3[01])"/></p>
		<p>CustomerId: <input type="number" th:field="*{customerId}" required="required" /></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>
	<a th:href="@{/logout}">Logout</a>
</body>
</html>
