<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Statistik</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="stylesheets/default.css" th:src="@{../stylesheets/default.css}" />
    </head>
    <script src="stylesheets/script.js"></script>
    <body>
        <div id="wrapper">
            <div class="content">
                <h1>Backend Logistik</h1>
                <h2>Paket-Statistik</h2>
                <!-- works like that: takes the list of all parcels, then compares with the id parameter in the url -->
                <div th:each="paket : ${getAllParcels}">
                    <div th:if="${paket.idString == param.id[0]}">
                        <table class="nice" id="parcelStats">
                            <thead>
                                <tr>
                                    <th onclick="sortTable('parcelStats', 0)">Zeit</th>
                                    <th onclick="sortTable('parcelStats', 1)">Status</th>
                                    <th onclick="sortTable('parcelStats', 2)">Fahrer</th>
                                    <th onclick="sortTable('parcelStats', 3)">Geändert von</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="paketStat : ${getAllStatsForParcel}">
                                    <td th:text="${#temporals.format(paketStat.changeTime, 'dd.MM.yyyy HH:mm')}"></td>
                                    <td th:text="${paketStat.newStatus}"></td>
                                    <td th:text="${paketStat.driverName}"></td>
                                    <td th:text="${paketStat.userName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="top-button logout" th:href="@{/logout}">Logout</a>
                <a class="button" th:href="@{/logistics}">Zurück</a>
            </div>
            <footer>
                <span>ESE-Team8 (c)2017</span>
            </footer>
        </div>
    </body>
</html>